:root {
  --primary: #f8f9fa;
  --red: #fee2e2;
  --yellow: #fef3c7;

}

border{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.badge{
  background-color: var(--primary);
  padding: .5rem 1rem;
  margin: 1rem;
  display: inline;
  font-weight: bold;
}

.badge--pill{
  border-radius: 30px;
}

.badge--red{
  background-color: var(--red);
  color: #991B1B;
}

.badge--yellow{
  background-color: var(--yellow);
  color: #92400E;
}

.banner--content{
  display: grid;
  grid-template-areas:
  "icon title"
  "icon title";
  grid-template-columns: max-content max-content;
  max-width: 800px;
  max-height: max-content;
  padding: 0 1rem;
  margin: 1rem;
  border-radius: 5px;

  & .banner--icon{
    grid-area: icon;
    font-size: 1rem;
    margin-right: .5rem;
    align-self: baseline;
  }

  & .banner--title{
    grid-area: title;
    align-self: baseline;
    line-height: .5;
  }

}
